body {
  text-align: center;
  padding: 0;
  margin: 0;
  color: black;
  background-color: rgb(230, 228, 228);
}

a {
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
  padding: 2em;
}

iframe {
  height: 50vh;
  width: 60vw;
}

.col3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

/* for navbar */
#navbar {
  background-color: black;
  overflow: hidden;
  color: white;
  margin: 0;
  padding: 0;
  height: 10vh;
}

/* Style the heading */
#navbar h1 {
  display: inline-block;
  float: left;
  font-size: 18px;
  padding: 12px 0 0 20px;
}

/* Style the links */
#navbar a {
  float: right;
  color: #f2f2f2;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbarPhone {
  position: relative;
  display: inline-block;
  right: auto;
}

.navbarPhone-content {
  display: none;
  position: absolute;
  left:0;
  z-index:1;
}

.navbarPhone:hover .navbarPhone-content {
  display: block;
/* animation: popup .5s ease-in-out both; */
}

.navbarPhone span {
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: block;
  transform: rotate(90deg);
}

.navbarPhone:hover span {
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: inline-block;
  transform: rotate(180deg);
}

/* for landing display */
#landing {
  color: black;
  height: 90vh;
  background-image: url("https://otg.imgix.net/assets/grid/barcelona/poble-nou/ultra-local-records/LB_ONTHEGRID_0000s_0002_Retoques-copia-2.jpg?auto=format%2Ccompress&crop=focalpoint&fit=min&fm=jpg&fp-x=0.5&fp-y=0.5&ixlib=php-1.1.0&q=80&w=1200&s=74130115f47b881d2496284670f45076");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover; 
  background-attachment: fixed;
}

#landing h1 {
  margin: 0 auto;
  padding: 0 auto;
}

.float {
  padding: 30vh 30vw;
}

#location {
  height: 100vh;
}

#gallery {
  background-color: lightgray;
}

.pics {
  padding: 0 0 2em;
}

#releases {
  background-color: rgb(231, 231, 231);
}

#team {
  background-color: lightgray;
}

.titles {
  padding: 2em;
}

.bgcolor {
  background-color: lightpink;
  padding: 2em;
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;;
}

.col2 img {
  width: 100%;
}

.col3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.col3 img {
  width: 100%;
}

/* mobile version */
@media all and (max-width:650px) {
  .col3 { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .navbarPhone {
    display: block;
  }
  .navbarDesktop {
    display: none;
  }
}

@media all and (max-width:420px) {
  .col3 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .col2 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 650px) {
  .navbarPhone {
    display: none;
  }
  .navbarDesktop {
    display: block;
  }
}






